html{
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
}

body {
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    color: antiquewhite;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}


#green{
    background-color: lightseagreen;
}

#yellow{
    background-color: khaki;
}

#blue{
    background-color:steelblue;
}

#orange{
    background-color: salmon;
}

#black{
    background-color: black;
}

#pink{
    background-color: pink;
}

#blue:hover, #yellow:hover, #green:hover, #orange:hover, #pink:hover {
    background-color: antiquewhite;
}

.button {
    display: inline-block;
    margin: auto;
    padding: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
    border: none;
}

.button:hover {
    font-weight: 400;
    text-shadow: 0 0 5px #ffffffc3
}

.story-col{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    max-width: 600px;
}

.story{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.story img {
    width: 100%;
    height: 100%;
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    border-radius: 50%; 
}

.overlay {
    width: 5.8rem;
    height: 5.8rem;
    background-color: black;
    border-radius: 50%;
    position: absolute; /* Position it absolutely within the .story container */
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Adjust position to truly center it */
    padding: 6px;
}

.ratio-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 10px 10px;
    padding-bottom: 50px;
    margin: auto; /* Center the wrapper horizontally */
}

.profile{
    justify-self: center;
    background-color: black;
    display: grid;
    width: 100%;
    max-height: 400px;
    max-width: 700px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.item{
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    padding: 10px;
    transition: padding 0.3s ease;
}

.item img:hover {
    padding: 2px;
}


.item2{
    grid-column: span 2;
    grid-row: 3;
    color: white;
    font-size: medium;
    padding-top: 0px;
    top: 0;
    justify-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item3{
    grid-column: 3/8;
    grid-row: 1/4;
    color: white;
    font-size: x-small;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.storybar{
    grid-column: 1/9;
    grid-row: 4;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
}

.container{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 4px;
    width: 100%;
    height:max-content;
    padding-bottom: 100px;
}

.box{
    position: relative;
    padding-top: 100%;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}

.box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        background-color: black;
        grid-auto-rows: auto;
        width:100%;
        padding:0;
        height: max-content;
        gap: 4px;
        padding-bottom: 100px;
    }

    .button {
        padding: 1rem 20px; /* Further adjust button padding for small screens */
    }
    
    .box {
        padding: 50%;/* Further adjust box padding for small screens */
        box-shadow: 0 -2px 4px rgba(0,0,0,0.1)
    }

    .profile{
        justify-self: center;
        background-color: black;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .item3{
        grid-column: 3/8;
        grid-row: 1/3;
        color: white;
        font-size: x-small;
        margin: 0 0 10px 10px;
    }

    .storybar{
        grid-column: span 8;
        grid-row: 4;
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        color: white;
        left: 0;
        top: 0;
        margin-top: auto;
        overflow-x: auto;
        width: 100%;
    }

    .story{
        aspect-ratio: 1/1;
    }
}